<nav class="nav">
  <h1 class="title">E-Commerce</h1>
  <div class="search-box">
    <input type="text" placeholder=" Search for Products" />
    <button>Search</button>
  </div>
  <ul class="nav-links">
    <li class="center-align"><a class="nav-link" routerLink="">Home</a></li>
    <li class="center-align"><a class="nav-link" routerLink="seller-auth">Seller</a></li>
    <li class="center-align"><a class="nav-link" href="">Login</a></li>
    <li class="center-align"><a class="nav-link" href="">Cart (0)</a></li>
  </ul>
</nav>
